
body {
  font-family: Arial, sans-serif;
}

header {
  background: #222;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

section {
  min-height: 100vh;
  display: flex;
  
}

h1 {
  margin-bottom: 20px;
  color:#333;
}
h2 {
  margin-bottom: 20px;
  color: #fff;
}

/* Customize the styles for the "About Me" section */
#about {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  color: #333;
  padding: 20px;
  
  
}
#about h2 {
  font-size: 25px;
  color:#333;
  text-align: start;

}

#about .about-content {
  display:flex;
  margin: 10px;
}

#about img {
  width: 180px;
  height:150px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#about p {
  font-size: 18px;
  
  color:#333
}


/* #about p {
  font-size: 18px;
  line-height: 1.6;
  
}  */

/* Customize the styles for the other sections */
#projects {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#projects .container {
  max-width: 800px;
}

.project {
  margin: 10px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  min-width: 300px;
  flex: 1 1 300px;
}

.project:hover {
  transform: translateY(-5px);
}

.project h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color:#333
}

.project p {
  font-size: 18px;
  margin-bottom: 20px;
  color:#333
}

.project a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0000FF;
  color: #4facfe;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: #333;
  color: #00f2fe;
}

#certificates {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  color: #fff;
  padding: 5px;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: justify;
  font-size: 26px;
  padding:20px;

 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

th {
  background-color:#fff;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

td {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 10px;
}

a {
  color: #0000FF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #86a8e7;
}


#publications {
  background: linear-gradient(to right, #f12711, #f5af19);
  color: #333;
  padding: 20px;
}

#publications.container {
  max-width: 800px;
  margin: 0 auto;
}

#publications h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.publications {
  margin-bottom: 30px;
}

#publications h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color:#f12711
}

#publications a {
  color: #0000FF;
  text-decoration: none;
  transition: color 0.3s ease;
}

#publications a:hover {
  color: #f5af19;
}

#publications p {
  font-size: 16px;
  line-height: 1.5;
}

#contact {
  background: linear-gradient(to right, #ff0844, #ffb199);
  color: #fff;
  padding: 100px;
}

#contact.container {
  max-width: 800px;
  margin: 0 auto;
}

#contact h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.contact-info {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.contact-info li {
  margin-bottom: 20px;
  display: flex;
  text-align: left;
  max-width: 100%;
  
}

.contact-info li i {
 
  font-size: 15px;
}

.contact-info li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info li a:hover {
  color: #0000FF;
}

#conatct.address {
 
  max-width: 20px;
}


/* Customize the styles for the "Education" section */
#education {
  background: linear-gradient(to right, #ffbb00, #f38c02);
  color: #333;
  padding: 10px;
}


